html {
  scroll-behavior: smooth;
}


a {
  text-decoration: none !important;
}

.navbar {
  background-color: #e35a2b !important; 
}

.nav-link, .navbar-brand {
  color: #fff !important;
}

.nav-link:hover, .navbar-brand:hover {
  color: gold !important;
}



.dropdown-menu {
  background-color: #e35a2b !important;
} 

.fa-row{
  background-color: #e35a2b;
  text-align: center;
  padding-bottom: 35px;
  padding-top: 35px;
  color: #ffffff;
  font-weight: bold;
  
}
.fas, .fab{
  font-size: 60px;
}

.fas:hover, .fab:hover {
  color:gold;
  transform:scale(1.2);
}

.fab-link {
  font-weight: bold;
  color: #ffffff;
}

.fab-link:hover {
  color: gold;
  text-decoration: none; 
}

/*footer*/
.footer-row {
  background-color: #e35a2b;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 25px;
}

.footer-row a {
  color: #ffffff;
  
}

.footer-row a:hover {
  color: gold;
}

iframe {
  padding: 30px 0px 30px 0px; /*top right bottom left*/
}

/*parallax*/
.parallax {
  background-image: url("https://www.talltreesalaska.com/design/banner.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
}

.gallery-row {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.cropped {
  width: 300px;
  height: 300px;
  clip-path: circle(50% at 50% 50%);
  
}

.cropped-1 {
  object-fit:cover;
  object-position: 50% 10%;
}
  
.cropped-2 {
  object-fit: cover;
  object-position: 40% 10%;
}   

.cropped-3 {
  object-fit: cover;
  object-position: 30% 10%;
}